* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-box {
    display: flex;
    flex-wrap: nowrap;  

}
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}

 

p > b {
    color: hsl(271, 76%, 53%)
}

span {
    color: rgb(138, 43, 226)
}

#contact-form {
margin: ;
background-color: aliceblue;
width: 50%;
}